<div id="agileDev"></div>
<div class="content">
  <div class="title">
    <h1>Agile Development</h1>
  </div>
  <div class="description">
    <p>In this course learn how to help your team develop their projects in an effective and efficient way. Eliminate waste
      through such practices as selecting only the truly valuable features for a system. It emphasizes the speed and efficiency
      of development workflow.</p>
  </div>
</div>
<div class="container">
  <div class="cards">
    <div class="hover-black-button">
      <div class="card" >
        <img class="card-img-top" src="../../../../assets/curriculum.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">TXT Curriculum</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card" >
        <img class="card-img-top" src="../../../../assets/documentation.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Best Practices</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card" >
        <img class="card-img-top" src="../../../../assets/scenario.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Scenarios</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
  </div>
  </div>