<div id="css"></div>
<div class="content">

  <div class="title">
    <h1>What is CSS?</h1>
  </div>
  <div class="description">
    <p>CSS is the language for describing the presentation of Web pages, including colors, layout, and fonts. It allows one to adapt the presentation to different types of devices, such as large screens, small screens, or printers. CSS is independent of HTML and can be used with any XML-based markup language.
    </p>
  </div>
</div>
<div class="container">
  <div class="cards">
    <div class="hover-black-button">
      <div class="card" >
        <img class="card-img-top" src="../../../../assets/curriculum.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">TXT Curriculum</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card" >
        <img class="card-img-top" src="../../../../assets/documentation.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Documentation</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card" >
        <img class="card-img-top" src="../../../../assets/cssIcon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Learn CSS</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
  </div>
  </div>