.cards {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.hover-black-button {
    flex: 1;
}

.card-title {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 3%;
}
.alignment {
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border: thin solid #333;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 90px;
}

.alignment:hover {
    color: #fff;
    background-color: #333;
}

.button-position {
    position: relative;
    bottom: 7.5%;
    right: 27%;
    left: 27%;
}
#slide1{
    width: 100%;
    height: 700px;
    background: url('../../../assets/python.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#slide2{
    width: 100%;
    height: 700px;
    background: url('../../../assets/angular6.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#slide3{
    width: 100%;
    height: 700px;
    background: url('../../../assets/mongoDB.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#slide4{
    width: 100%;
    height: 700px;
    background: url('../../../assets/html.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#slide5{
    width: 100%;
    height: 700px;
    background: url('../../../assets/css.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#slide6{
    width: 100%;
    height: 700px;
    background: url('../../../assets/ionic.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container{
    width: 100%
}
.card{
    margin-right: 15%;
}