.cards {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card{
    margin-right: 10%;
}

.hover-black-button {
    flex: 1;
}

.card-title {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 8%;
}


.alignment {
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border: thin solid #333;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 90px;
}

.alignment:hover {
    color: #fff;
    background-color: #333;
}

.button-position {
    position: relative;
    bottom: 6.5%;
    right: 22%;
    left: 26%;
}


#slide1{
    width: 100%;
    height: 700px;
    background: url('../../../assets/youthDev.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container{
    width: 100%
}
#slide2{
    width: 100%;
    height: 700px;
    background: url('../../../assets/txtCulture.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#slide3{
    width: 100%;
    height: 700px;
    background: url('../../../assets/techCurriculum.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#slide4{
    width: 100%;
    height: 700px;
    background: url('../../../assets/ProductDevelopment.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}