.cards {
    display: flex;
    margin-left: 7%
}

.hover-black-button {
    flex: 1;
}

.card-title {
    text-align: center;
}

.title {
    text-align: center;
}

.smaller-carousel {
    max-height: 50%;
    max-width: 50%;
}

.alignment {
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border: thin solid #333;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 90px;
}

.alignment:hover {
    color: #fff;
    background-color: #333;
}

.button-position {
    position: relative;
    bottom: 6.5%;
    right: 22%;
    left: 22%;
}