<div id="ang"></div>
<div class="content">
 
  <div class="title">
    <h1>What is Angular?</h1>
  </div>
  <div class="description">
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
      dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers
      developers to build applications that live on the web, mobile, or the desktop.</p>
  </div>
</div>
<div class="container">
<div class="cards">
  <div class="hover-black-button">
    <div class="card" >
      <img class="card-img-top" src="../../../../assets/curriculum.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">TXT Curriculum</h5>
      </div>
    </div>
    <div class="button-position">
      <a href="">
        <button class="btn btn-dark alignment">View More</button>
      </a>
    </div>
  </div>
  <div class="hover-black-button">
    <div class="card" >
      <img class="card-img-top" src="../../../../assets/documentation.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Documentation</h5>
      </div>
    </div>
    <div class="button-position">
      <a href="">
        <button class="btn btn-dark alignment">View More</button>
      </a>
    </div>
  </div>
  <div class="hover-black-button">
    <div class="card" >
      <img class="card-img-top" src="../../../../assets/angularIcon.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Learn Angular</h5>
      </div>
    </div>
    <div class="button-position">
      <a href="">
        <button class="btn btn-dark alignment">View More</button>
      </a>
    </div>
  </div>
</div>
</div>